<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.hero.wireless.web.dao.business.IAdminUserDAO">
	<resultMap id="ResultMapExt"
		type="com.hero.wireless.web.entity.business.ext.AdminUserExt"
		extends="BaseResultMap">
		<collection property="roles" ofType="com.hero.wireless.web.entity.business.AdminRole"
			select="com.hero.wireless.web.dao.business.IAdminUserDAO.getRolesByUserId"
			column="Id" />
		<collection property="limits"
			select="com.hero.wireless.web.dao.business.IAdminUserDAO.getLimitsByUserId"
			column="Id" />
		<collection property="limitOrderIds"
			select="com.hero.wireless.web.dao.business.IAdminUserDAO.getLimitsByUserIdAndOrderId"
			column="Id" />
	</resultMap>

	<select id="selectAdminRolesAndLimitsByExample"
		parameterType="com.hero.wireless.web.entity.business.AdminUserExample"
		resultMap="ResultMapExt">

		select Id, Real_Name, User_Name, Password, Status, Create_Date,
		Current_Login_Time, Current_Login_IP, Last_Login_Time, Last_Login_IP,
		Login_Faild_Count, Login_Faild_Lock_Count, Description, Remark
		from
		admin_user
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null"> order by ${orderByClause}
		</if>
		<if test="pagination != null">
			limit ${pagination.firstResult},${pagination.pageSize}
		</if>
	</select>

	<select id="getLimitsByUserId" parameterType="int"
		resultMap="com.hero.wireless.web.dao.business.IAdminLimitDAO.BaseResultMap">
		<![CDATA[ 
			SELECT b.* FROM admin_role_limit a INNER JOIN admin_limit b ON
			a.limit_id=b.Id INNER JOIN admin_user_roles c ON a.Role_Id=c.Role_Id
			WHERE c.User_Id=#{value} ORDER BY b.Code
		]]>
	</select>

	<select id="getLimitsByUserIdAndOrderId" parameterType="int"
		resultMap="com.hero.wireless.web.dao.business.IAdminLimitDAO.BaseResultMap">
		<![CDATA[
			SELECT b.* FROM admin_role_limit a INNER JOIN admin_limit b ON
			a.limit_id=b.Id INNER JOIN admin_user_roles c ON a.Role_Id=c.Role_Id
			WHERE c.User_Id=#{value} ORDER BY b.Order_Id ASC
		]]>
	</select>

	<select id="getRolesByUserId" parameterType="int"
		resultMap="com.hero.wireless.web.dao.business.IAdminRoleDAO.BaseResultMap">
		<![CDATA[
			SELECT b.* FROM admin_user_roles a INNER JOIN admin_role b ON a.Role_Id=b.Id
			where a.user_id=#{value}
		]]>
	</select>
	
	<!-- 感觉这样写不太好，不喜欢用in 2019年12月11日14:36:15 修改-->
	<select id="getAdminUsersByRoleCode" resultMap="ResultMapExt">
		SELECT au.* FROM admin_user au, admin_user_roles aur, admin_role ar
		WHERE ar.CODE = #{roleCode} AND ar.id = aur.role_id AND au.id = aur.user_id
	<!-- 	SELECT au.* FROM `admin_user` au WHERE au.Id IN
			(SELECT aur.User_Id FROM admin_user_roles aur WHERE aur.Role_Id = (
					SELECT ar.Id FROM admin_role ar WHERE ar.Code = #{roleCode}
				)
			) -->
	</select>

</mapper>