<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Fri Mar 15 16:17:55 CST 2019-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hero.wireless.web.dao.business.IAdminRoleDAO">
  <resultMap id="BaseResultMapExt" type="com.hero.wireless.web.entity.business.ext.AdminRoleExt" extends="BaseResultMap">
    <result property="adminUser.id" column="u_id" jdbcType="INTEGER"/>
  </resultMap>
  
  <select id="selectBindAdminUserRoleByExample" parameterType="int" resultMap="BaseResultMapExt">
    SELECT a.*,b.id u_id FROM  admin_role a LEFT JOIN admin_user_roles b ON a.Id=b.Role_Id AND user_id=#{value}
  </select>
</mapper>