<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

  <!-- 只扫描controller -->
  <context:component-scan base-package="com.hero.wireless.web.action" use-default-filters="false">
    <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
    <context:include-filter type="annotation"
      expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
  </context:component-scan>

  <!-- 开启mvc注解 -->
  <mvc:annotation-driven>
    <mvc:message-converters>
      <bean class="org.springframework.http.converter.StringHttpMessageConverter">
        <constructor-arg>
          <bean class="java.nio.charset.Charset" factory-method="forName">
            <constructor-arg value="UTF-8"/>
          </bean>
        </constructor-arg>
      </bean>
    </mvc:message-converters>
  </mvc:annotation-driven>

  <!-- 开启注解AOP-->
  <aop:aspectj-autoproxy proxy-target-class="true"/>
  <!--     <mvc:annotation-driven>
          <mvc:message-converters>
              设置返回字符串编码
              <bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">
                  <property name="supportedMediaTypes">
                      <list>
                          <value>text/html;charset=UTF-8</value>
                          <value>application/json;charset=UTF-8</value>
                      </list>
                  </property>
              </bean>
              json转换器
              <bean id="mappingJackson2HttpMessageConverter"
                    class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                  <property name="supportedMediaTypes">
                      <list>
                          <value>text/html;charset=UTF-8</value>
                          <value>application/json;charset=UTF-8</value>
                      </list>
                  </property>
              </bean>
          </mvc:message-converters>
      </mvc:annotation-driven>
   -->

  <mvc:interceptors>
    <mvc:interceptor>
      <mvc:mapping path="/**"/>
      <mvc:exclude-mapping path="/public/login"/>
      <mvc:exclude-mapping path="/public/logout"/>
      <mvc:exclude-mapping path="/public/login/error"/>
      <bean class="com.hero.wireless.web.action.interceptor.LoginAdminInterceptor"/>
    </mvc:interceptor>
    <mvc:interceptor>
      <mvc:mapping path="/**"/>
      <mvc:exclude-mapping path="/admin/index"/>
      <mvc:exclude-mapping path="/public/login"/>
      <mvc:exclude-mapping path="/public/logout"/>
      <mvc:exclude-mapping path="/public/login/error"/>
      <bean class="com.hero.wireless.web.action.interceptor.AdminLimitInterceptor"/>
    </mvc:interceptor>
    <mvc:interceptor>
      <mvc:mapping path="/**"/>
      <mvc:exclude-mapping path="/public/login"/>
      <mvc:exclude-mapping path="/public/logout"/>
      <bean class="com.hero.wireless.web.action.interceptor.AdminCsrfInterceptor"/>
    </mvc:interceptor>
  </mvc:interceptors>

  <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix" value="/admin"/>
    <property name="suffix" value=".jsp"/>
  </bean>

</beans>